<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Retiro</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="row md-6"></div>
                <a class="navbar-brand" href="#">
                    <img src="img/LogoSena2.gif" alt="" width="150" height="150">
                </a>
                <div class="row md-6"></div>
                <a class="navbar-brand" href="#">
                    <img src="img/logobancosena3.png" alt="" width="500 " height="80">
                </a>
                <div class="row md-4"> 
                    <a class="navbar-brand" href="#">
                        <img src="img/LogoBanco.png" alt="" width="0" height="0">
                </div>
               
                </a>
            </div>
        </nav>
        <br>
        <br>

    
    </div>

    <div id="app"class="container">
            <h1 class=text-center>Retirar</h1>
            <br>
            <div class="container text-center">

                <div class="form-check form-check-inline px-3">
                    <input v-model="opcValor" @change="getValor" class="form-check-input h3" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                    <label class="form-check-label h3" for="inlineRadio1">10.000</label>
                </div>
                <div class="form-check form-check-inline px-3">
                    <input v-model="opcValor" @change="getValor" class="form-check-input h3" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                    <label class="form-check-label h3" for="inlineRadio2">20.000</label>
                </div>
                <div class="form-check form-check-inline px-3">
                    <input v-model="opcValor" @change="getValor" class="form-check-input h3" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                    <label class="form-check-label h3" for="inlineRadio3">50.000</label>
                </div>
                <div class="form-check form-check-inline px-3">
                    <input v-model="opcValor" @change="getValor" class="form-check-input h3" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="4">
                    <label class="form-check-label h3" for="inlineRadio3">100.000</label>
                </div>
                <div class="form-check form-check-inline px-3">
                    <input v-model="opcValor" @change="getValor" class="form-check-input h3" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                    <label class="form-check-label h3" for="inlineRadio3">Otro valor</label>
                </div>
                <div v-if="opcValor==5" class="input-group mb-3 ">
                    <span class="input-group-text h2">$</span>
                    <input v-model.number="valor" type="number" class="form-control h2" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text h2">.0</span>
                </div>
                <br>
            </div>
                <br>
                <div class="container text-center">
                    <button @click="procesar" class="btn btn-primary btn-lg col-8">Retirar</button>
                </div>
            
            <br>
            <br>
            <h3 class="text-muted">Registro de movimientos</h3>
    
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col">Valores</th>
                    </tr>
                </thead>
                <tbody v-if="arrayValores.length">
                    <tr v-for="item in arrayValores">
                        <td v-text="item"></td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr style="background-color: rgb(42, 142, 209)" class="text-white" align="center">
                        <td>NO existen movimientos registrados</td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>

<script src="js/Sources/vue.js"></script>
<script src="js/Sources/sweetalert2.all.min.js"></script>
<script src="js/appretiro.js"></script>

</html>